
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/target/surefire-reports/
/target/maven-status/
/target/generated-sources/
/target/maven-archiver/
/target/test-classes/
/target/microservice-gateway-zuul-0.0.1-SNAPSHOT.jar.original
/target/generated-test-sources/
/target/classes/
